
body {
	background-color: #ddd; 
}


.choose-verse-container li {display: inline;}






[class^="container"] { background: #c8c8c8; }

#addVerseContainer { overflow: hidden; transition: height 300ms 100ms; }

.add-verse-title { cursor: pointer; }


.toggle-section {
	/* transition: transform 100ms 100ms; */
	transform: scale(3, 1);
	font-weight: 300; 
	display:inline-block;
}

div.close .toggle-section { 
	transform: scale(3, -1); 
}
