
body {
	background-color: #ddd; 
}









[class^="container"] { background: #e4e4e4; }

#addVerseContainer { overflow: hidden; transition: height 300ms 100ms; }

.add-verse-title { cursor: pointer; }


.toggle-section {
	/* transition: transform 100ms 100ms; */
	transform: scale(3, 1);
	font-weight: 300; 
	display:inline-block;
}

.close .toggle-section { 
	transform: scale(3, -1); 
}


.books li.chapter { display: inline; }
.books li.verse { font-size: 14px; border:1px solid #aaa; display: inline-block; width: 34px; text-align: center }
.books li.verse:hover{background: #333; color: #fff; cursor: pointer; }


.testament-container .books {display: none;}

/* #ot-container .books {display: block;} */
/* #nt-container .books {display: block;} */


.testament-container .books .book .chapters {display: none;}
/* .testament-container .books .book:nth-child(2) .chapters{display: block;} */

